<!DOCTYPE html>

<html>
<head>

<title> LEPATAN's PAGE </title>
<style>
#akoSiDarna {
   color: blue;
   text-align:center;
   background-color: yellow
}
#akoSiDing {
   color: darkgreen;
   text-align:center;
}

#akoSiDingDong {
   color: rgb(255, 254, 254);
   text-align:center;
   font-family: verdana;
}

body {background-color: black;}

h1 {
   color: darkgreen;
   font-family: verdana;
   font-size: 300%;
}

h2 {
   color: darkgreen;
   font-family: verdana;
   font-size: 150%;
}


p {
   color: white
   font-family: arial;
   font-size: 150%;
   text-align:center;
}

img { 
   margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>

<h1 id="akoSiDarna"> WELCOME TO CEC! </h1>
<h2 id="akoSiDingDong"> Cebu Eastern College is a Filipino Chinese School
at the corner of Dimalasang and Leon Kilat in Cebu City Philippines. </h2>
<h3 id="akoSiDingDong"> CEC Offers Chinese classes as well as English and Filipino subjects.</h3>
<p style="color: white";> The campus offers kindergarten,elementary, high school and college classes.

<img src="file:///E:/LEPATAN/Lighthouse.jpg" width="600" height="500">

<h4 id="akoSiDingDong"> CEC was established 1915 </h4>

<video> 
<video width="320" height= "240" controls> 
<source src="ambot.mp4" type="video/mp4";>
</video>



</body>
</html>